{% extends "base.html" %}

{% block content %}

<form method="GET">
  <input type="text" name="search" placeholder="Buscar lote...">
  <button type="submit">Buscar</button>
</form>

{% if amostras %}
  <div class="legenda">
    <span class="verde">Alta qualidade</span>
    <span class="amarelo">Média qualidade</span>
    <span class="vermelho">Baixa qualidade</span>
  </div>
  <div class="amostras-grid">
    {% for amostra in amostras %}
      <div class="amostras-card 
                  {% if amostra.qualidade_id == 3 %}amostras-card-vermelho
                  {% elif amostra.qualidade_id == 2 %}amostras-card-amarelo
                  {% else %}amostras-card-verde{% endif %}">
        <h2>{{ amostra.codigo_interno }}</h2>
        <p>{{ amostra.linhagem }} - {{ amostra.estado }} - {{ amostra.mes_coleta }}</p>
        
        <!-- Detalhes ocultos inicialmente -->
        <div class="amostras-detalhes">
          <p>Lote: {{ amostra.lote }}</p>
          <p>Cobertura: {{ amostra.cobertura }}</p>
          <p>Profundidade: {{ amostra.profundidade_media }}</p>
          <p>Depósito-GISAID: {{ amostra.codigo_gisaid }}</p>
          <!-- Botão de edição e deleção -->
          <div class="buttons-wrapper d-flex justify-content-center">
            <div class="buttons-container me-2">
              <a href="{% url 'update_amostra' pk=amostra.pk %}" class="btn btn-edit">Editar</a>
            </div>
            <div class="buttons-container">
              <a href="{% url 'delete_amostra' pk=amostra.pk %}" class="btn btn-delete">Deletar</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p class="no-results">Nenhuma amostra encontrada.</p>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const cards = document.querySelectorAll('.amostras-card');

    cards.forEach(card => {
      card.addEventListener('click', () => {
        card.classList.toggle('active');
      });
    });
  });
</script>


<!-- Estilos CSS -->
<style>
  .amostras-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
  }
  
  /* Estilos para os cartões de amostra */
  .amostras-card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
    color: #fff; /* Branco para o texto dos cartões */
  }
  
  /* Efeito hover para os cartões */
  .amostras-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4); /* Brilho no hover */
    transform: translateY(-2px);
  }
  
  /* Estilo para imagens dentro dos cartões */
  .amostras-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .amostras-card {
    height: fit-content;
  }
  
  /* Estilos para os títulos dentro dos cartões */
  .amostras-card h3, .amostras-card h2, .amostras-card p {
    color: #fff; /* Branco para os textos */
  }
  
  /* Classes de fundo baseadas na cobertura */
  .amostras-card-vermelho {
    background-color: #682828; 
  }
  
  .amostras-card-amarelo {
    background-color: #716b28; 
  }
  
  .amostras-card-verde {
    background-color: #1f5b21; 
  }
  
  .legenda span {
    display: inline-block;
    margin-right: 20px;
  }
  
  .legenda .verde {
    color: #4cd751;
  }
  
  .legenda .amarelo {
    color: #e0d44d;
  }
  
  .legenda .vermelho {
    color: #ca4f4f;
  }
  
  /* Estilos responsivos para telas menores */
  @media (max-width: 768px) {
    .amostras-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Estilos para o formulário */
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
  }
  
  /* Estilos para o campo de texto */
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff; /* Borda branca */
    border-radius: 4px;
    margin-right: 10px;
    background-color: #333; /* Fundo escuro */
    color: #fff; /* Texto branco */
    transition: border-bottom-color 0.3s ease-in-out;
  }
  
  /* Foco no campo de texto */
  input[type="text"]:focus {
    outline: none;
    border-bottom-color: #fff; /* Borda branca no foco */
  }
  
  /* Estilos para o botão "Buscar" */
  button[type="submit"] {
    background-color: #0096c7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Efeito hover no botão "Buscar" */
  button[type="submit"]:hover {
    background-color: #108eb8;
  }
  
  /* Estilo para a mensagem de nenhum resultado */
  .no-results {
    color: #fff; /* Branco para a mensagem de nenhum resultado */
  }
  
  /* Detalhes da amostra inicialmente ocultos */
  .amostras-detalhes {
    display: none; /* Oculta os detalhes por padrão */
    padding-top: 10px;
    border-top: 1px solid #ccc;
    height: fit-content;
  }
  
  /* Exibe os detalhes quando o cartão está ativo */
  .amostras-card.active .amostras-detalhes {
    display: block;
    height: fit-content;
  }
  
  /* Botão "Editar" com azul escuro */
  .btn-edit {
    background-color: #3085cf; /* Azul escuro */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-edit:hover {
    background-color: #162a3b; /* Azul ainda mais escuro no hover */
  }
  
  /* Botão "Deletar" com vermelho escuro */
  .btn-delete {
    background-color: #f34a4a; /* Vermelho escuro */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-delete:hover {
    background-color: #600000; /* Vermelho ainda mais escuro no hover */
  }
  
  /* Legenda para significado das cores */
  .legenda {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
</style>

{% endblock %}