{% extends "base.html" %}

{% block content %}
  <style>
    /* Estilização da mensagem de confirmação */
    .delete-message {
      color: #000000; 
      font-size: 16px; 
    }

    .card-title {
        color: #000000
    }

    /* Centraliza os botões e adiciona espaçamento entre eles */
    .buttons-container {
      display: flex;
      justify-content: center; /* Centraliza os botões horizontalmente */
      margin-top: 20px;
      margin-bottom: 20px;
      gap: 10px; /* Espaçamento entre os botões */
    }

    /* Estilização dos botões */
    .btn {
      display: inline-block;
      background-color: #0096c7; /* Cor padrão dos botões */
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    /* Estilização dos botões ao passar o mouse */
    .btn:hover {
      background-color: #108eb8;
    }

    /* Estilização específica para o botão de deletar */
    .btn-danger {
      background-color: #d9534f;
      text-decoration: none !important;
    }

    /* Estilização do botão de deletar ao passar o mouse */
    .btn-danger:hover {
      background-color: #d2221c;
    }

    /* Estilização para evitar sublinhado nos links */
    a {
      text-decoration: none !important;
    }
  </style>

  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Deletar amostra</h1>
    </div>
    <div class="card-body">
      <!-- Mensagem de confirmação com a nova classe CSS -->
      <p class="delete-message">
        Tem certeza que deseja deletar a amostra <strong>{{ object.codigo_interno }}</strong>?
      </p>
      <form method="post">
        {% csrf_token %}
        <div class="buttons-container">
          <!-- Botão para deletar a amostra -->
          <button type="submit" class="btn btn-danger">Deletar amostra</button>
          <!-- Botão para cancelar e voltar à lista de amostras -->
          <a href="{% url 'amostras_list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
