{% extends "base.html" %}

{% block content %}
<div class="novo-cadastro-container">
    <form method="post" enctype="multipart/form-data" class="novo-cadastro-form">
        {% csrf_token %}

        <h2 class="form-title">Cadastro de Amostras</h2>
        
        <div class="cadastro-form-fields">
            {{ form.as_p }}
        </div>

        <div class="cadastro-form-group">
            <input type="submit" value="Cadastrar" class="submit-btn">
        </div>
    </form>
</div>
{% endblock %}
