{% extends "base.html" %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Amostras</title>
    <!-- Inclua o CSS e JS do Plotly aqui -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{% static 'dash_styles.css' %}">
</head>

<body>
    <div class="card-dash full-width">
        <h1 style="font-size: 3em;">🧬 <span style="color: #6dd8e6;">{{ total_linhas }}</span>sequenciamentos realizados</h1>
        <h2 style="font-size: 1.5em;">
            <span style="color: #00ff9f;">{{ total_melhor_rep }}</span> melhor repetição 
            <span style="color: #ff0080;">{{ total_pior_rep }}</span> pior repetição 
            <span style="color: #a509a8;"> {{ total_controles }}</span> controles (NTC)
        </h2>
        <h2 style="font-size: 1.5em;">
            <span style="color: #00b3ff;">{{ total_unicos_conclusivos }}</span> únicos e conclusivos
            <span style="color: #ff0044;">{{ total_unicos_inconclusivos }}</span> únicos e inconclusivos
        </h2>
    </div>

    <!-- <div class="card-dash full-width">
        <h1 style="font-size: 3em;">🧬 {{ total_linhas }} sequenciamentos realizados</h1>
        <h2 style="font-size: 1.5em;">✅Melhor repetição: {{ total_melhor_rep }} >> ❌Pior repetição: {{ total_pior_rep }} Controle (NTC): ➖ {{ total_controles }}</h1>
    </div> -->


    <!-- Seção de Formulários de Filtro -->
    <div class="card-dash full-width dash-form">
        <form id="form1" method="get">
            {{ form.melhor_repeticao_name.label_tag }}
            {{ form.melhor_repeticao_name }}
        </form>
    </div>
    </div>
    <div class="card-dash full-width dash-form">
        <form id="form2" method="get">
            {{ form.laboratorio_name.label_tag }}
            {{ form.laboratorio_name }}
        </form>
    </div>

    <script>
        document.getElementById('form1').addEventListener('change', function() {
            this.submit();
        });

        document.getElementById('form2').addEventListener('change', function() {
            this.submit();
        });
    </script>

    <!-- Seção de Gráficos -->
    <div class="container-dash">
        <div class="chart-container">
            {{ chart_html_reps|safe }}
        </div>
    </div>
    <div class="container-dash">
        <div class="chart-container">
            {{ chart_html_labs|safe }}
        </div>
    </div>

    <div class="card-dash full-width dash-form">
        <form id="form3" method="get">
            {{ form.lote_number.label_tag }}
            {{ form.lote_number }}
        </form>
    </div>

    <script>
        document.getElementById('form3').addEventListener('change', function() {
            this.submit();
        });
    </script>

    <div class="container-dash">
        <div class="chart-container">
            <div class="text-container">
                {{ qual_text }}
            </div>
            <div class="text-container">
                {{ reps2_text }}
            </div>
            <div class="chart-content">
                {{ chart_html_resultado|safe }}
            </div>
        </div>
    </div>
    <div class="container-dash">
        <div class="chart-container">
            {{ chart_html_var_hist|safe }}
        </div>
    </div>
    <div class="container-dash">
        <div class="chart-container">
            {{ chart_html_variante|safe }}
        </div>
    </div>
</body>
</html>
{% endblock %}
