.body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-dash {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #000; /* Fundo preto */
    color: #00ff00; /* Texto neon verde */
}

/* Estilo para o contêiner do gráfico */
.chart-container {
    width: 80%;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

/* Estilo para os textos */
.text-container {
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: center;
}

/* Estilo para o conteúdo do gráfico */
.chart-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex; /* Usa flexbox para alinhar os cards lado a lado */
}

.card-dash2 {
    background-color: #fff; /* Cor de fundo dos cards */
    padding: 20px; /* Espaçamento interno dos cards */
    margin: 10px; /* Margem ao redor dos cards */
    border-radius: 5px; /* Borda arredondada */
}

.text-container {
    display: flex; /* Usa flexbox para alinhar os textos lado a lado */
}

.third-width {
    flex: 1; /* Para ocupar espaço igualmente dentro do container flex */
    background-color: #fff; /* Cor de fundo dos textos */
    padding: 20px; /* Espaçamento interno dos textos */
    margin: 10px; /* Margem ao redor dos textos */
    border-radius: 5px; /* Borda arredondada */
}

.card-dash:hover {
    transform: scale(1.05);
}

.full-width {
    width: 100%;
}


/* Adicionar responsividade */
@media (max-width: 768px) {
    .third-width {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .third-width {
        flex: 1 1 100%;
    }
}

.card-dash h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.card-dash p {
    font-size: 16px;
    color: #ccc;
}

.dash-form {
    margin: 16px 0;
}

.dash-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.dash-form select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #333;
    color: #fff;
}

.chart-container {
    margin: 16px 0;
    width: 100%;
}

@media (min-width: 768px) {
    .chart-container {
        flex: 1 1 calc(50% - 32px);
    }
}


