/* styles.css */

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form-title {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.login-form-fields p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-form-fields label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000; /* Cor do texto preto */
}

/* Estilize os inputs para fundo branco e texto preto */
.login-form-fields input[type="text"],
.login-form-fields input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #ffffff; /* Fundo branco */
    color: #000000; /* Texto preto */
}

.login-submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    align-self: center;
    width: 100%;
}

.login-submit-btn:hover {
    background-color: #0056b3;
}
